input:focus, select:focus, textarea:focus, button:focus {
  outline: none;
}

body {
 background-color: rgb(150, 150, 150);
 background: url('../../Images/Background/background.png');
 margin: 0;
 padding: 0;
 font-family: 'Exo', sans-serif;
}

#container {
 position: relative;
 min-height: calc(100vh - 198px);
}

/* Firefox specific style for footer when page is not scrollable. ¯\_(ツ)_/¯ */
@-moz-document url-prefix() { #container { min-height: calc(100vh - 65px); } }