@keyframes discordBounce {
  20% {
    width: 52px;
  }
}

#discord {
  position: absolute;
  z-index: 500;
  width: 50px;
  bottom: 20%;
  left: 1%;
}

#discord:hover {
  width: 60px;
  animation: discordHover .5s;
}

@keyframes discordHover {
  from {
    width: 50px;
  }
  40% {
    width: 60px;
  }
}

#discordIframe {
  position: absolute;
  z-index: 501;
  height: 500%;
  bottom: 25%;
  display: none;
}