::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: rgb(194, 0, 136); // Color math! :)
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: rgb(180, 0, 165); 
}